<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- <bean id="student" class="com.zzb.bo.Student" init-method="init"></bean>-->
    <bean id="myBeanProcessor" class="com.zzb.processor.MyBeanPostProcessor"></bean>
    <bean id="myBeanFactoryProcessor" class="com.zzb.processor.MyBeanFactoryPostProcessor">
    </bean>
    <bean id="helloWorld" class="com.zzb.bo.HelloWorld"></bean>
    <bean id="helloWorld2" class="com.zzb.bo.HelloWorld">
        <property name="message" value="women"></property>
    </bean>
    <bean id="helloWorld3" class="com.zzb.bo.HelloWorld">
        <property name="message" value="tamen"></property>
    </bean>
</beans>